*{
    margin: 0;
    padding: 0;
}

main{
    height: auto;
    width: 80%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top_row, .bot_row{
    width: 100%;
    height: 1fr;
    display: flex;
    padding: 50px;
    justify-content: space-around;
}

.karta{
    height: 200px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    transform-style: preserve-3d;
}

img{
    border-radius: 5px;
    box-shadow: slategray 10px 10px 8px;
}

.predna_strana{
    position: relative;
    transition: transform .6s ease-in-out;
    backface-visibility: hidden;
}

.zadna_strana{
    position: absolute;
    transform: translateY(-100%) rotateY(180deg);
    transition: transform .6s ease-in-out;
    backface-visibility: hidden;
}

.karta:hover .zadna_strana{
    transform:translateY(-100%) rotateY(0);
}
.karta:hover .predna_strana{
    transform: rotateY(180deg);
}

button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    font-size: 20px;
    padding: 20px 40px;
    border: none;
    border-radius: 3px;
    background-color: rgb(60, 88, 116);
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: rgba(60, 88, 116, 0.952);
}
